body {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  width: 100%;
  max-width: 100vw;
}

[data-action] {
  cursor: pointer;
}

#list {
  border-collapse: collapse;
}

#list tbody tr td {
  padding: 15px;
  border: solid black 2px;
}

#list tbody tr:nth-child(odd) td {
  background-color: lavenderblush;
}
